@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.mylist {
  display: flex;
  flex-direction: column;
}
.logo {
  width: 145px;
  height: 180px;
  background-color: #fff;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 20px;
  box-shadow: 10px 10px 15px #111;
  margin-bottom: -30px;
}
.logo img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}
.mylist .mymenu ul li {
  margin: 3px 5px;
}
.myvideo {
  height: 100vh;
}
.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
}
.navbar-nav .nav-link:hover,
.actives {
  border-bottom: 3px solid #fd7e14 !important;
  transition: all ease-in-out 0.4ms !important;
}

/* for the icons  */
i {
  color: #555;
  margin-right: 5px;
  font-size: 20px;
}
i:hover {
  color: #fd7e14;
  cursor: pointer;
}
/* media query  */
@media only screen and (max-width: 600px) {
  .navbar-nav .nav-link:hover,
  .actives {
    border-bottom: none !important;
  }
  .mymenu .nav-link {
    display: flex;
    justify-content: flex-start;
  }
  .collapse {
    margin-top: 20px;
  }
}
